<div class='topbar'>
  <div class="button" id="title"></div>
  <a href="about"><div class="button">About</div></a>
  <a href="/"><div class="button">Somewhere</div></a>
  <a href="/"><div class="button">Somewhere</div></a>
  <a href="/"><div class="button">Somewhere</div></a>
</div>

<div class='sidebar'>

</div>